<div class= "container">
  <div class="row">
    <div class="col">
      <h1 class="display-6"><i class="far fa-address-card"></i>  Listagem de Conta</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Cliente</th>
      <th scope="col">Agencia</th>
      <th scope="col">Conta</th>
      <th scope="col">Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas">
      <th>{{conta.id}}</th>
      <td>{{conta.cliente.nome}}</td>
      <td>{{conta.agencia}}</td>
      <td>{{conta.numero}}</td>
      <td>R$: {{conta.saldo}}</td>
    </tr>

  </tbody>
</table>

    </div>
  </div>

</div>


