<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6"><i class="far fa-address-book"></i>  Cadastro de Clientes</h1>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="form-floating mb-3">
        <input type="name" class="form-control" id="floatingInput" placeholder="Seu nome">
        <label for="floatingInput">Nome</label>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
<div class="col-5">

  <div class="form-floating mb-3">
    <input type="e-mail" class="form-control" id="floatingInput" placeholder="Seu e-mail: nome@gmail.com">
    <label for="floatingInput">E-mail</label>
  </div>

</div>
  </div>
</div>

<div class="container">
  <div class="row">
<div class="col-5">

  <div class="form-floating mb-3">
    <input type="cpf" class="form-control" id="floatingInput" placeholder="Seu CPF: 12548986644">
    <label for="floatingInput">CPF</label>
  </div>

</div>
  </div>
</div>

<div class="container">
  <div class="row">
<div class="col-5">

  <div class="form-floating mb-3">
    <input type="observacao" class="form-control" id="floatingInput" placeholder="observacoes...">
    <label for="floatingInput">Observações</label>
  </div>

</div>
  </div>

  <a class="btn btn-primary ">Cadastrar</a>&nbsp;
  <a class="btn btn-secondary" routerLink= "/clientes">Voltar</a>


</div>












